#about

  & main
    width: 90%
    margin: auto

    & section
      display: flex
      justify-content: center

      @media (max-width: 26em)
        flex-direction: column
        text-align: center

      & img
        width: 250px

      & p 
        max-width: 28em
