header
  padding: 1em

  & nav
    display: flex
    justify-content: flex-end
    
    & ul
      display: flex
      justify-content: space-between
      flex: 1 1 auto
      font-size: 1.2em
      max-width: 10em
