header
  padding: 1em
  display: flex

  & #logo
    flex: 1 1 auto


  & nav
    display: flex
    justify-content: flex-end
    flex: 1 1 auto

    & ul
      display: flex
      justify-content: space-between
      flex: 1 1 auto
      font-size: 1.2em
      max-width: 10em
