#index
  
  & #hero
    display: flex
    font-family: var(--codeFont)     
    font-weight: normal
    font-size: 200%

    &:before,
    &:after
      font-size: 1em

    &:before
      content: '<h1>'

    &:after
      content: '</h1>'


    & h1
      margin: 0
      display: none
