#index
  display: flex
  flex-direction: column
  height: 60vh
  font-family: var(--codeFont)

  & #hero
    display: flex
    justify-content: center
    align-items: center
    height: inherit
    font-size: 200%
    text-align: center
    line-height: 1em

    &:before,
    &:after
      font-size: 1em

    &:before
      content: '<h1>'

    &:after
      content: '</h1>'


    & h1
      margin: 0
      display: none
